.blog-content{
  max-width: 800px;
  margin: 0 auto;
  h1{margin-bottom: 10px;}
  p{margin: 0px;};
  ul{color: $darkgray}
}

.blog-section{
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: red;
  // margin-top: 15px;
}

#orange {
  color: $orange;
}

.img {
  margin: 0 auto;
  margin-top: 15px;
  width: 600px;
  height: 200px;
  background: $orange;
}
