.blog-content{
  display: flex;
  flex-direction: column;

  max-width: 800px;
  margin: 0 auto;
  padding: 0px 15px;
  h1{margin-top: 15px; color: $orange; font-family: Roboto}
  ul{color: $darkgray}
  p{
    margin: 8px 0px;
    line-height: 1.6;
  }
}

.blog-section{
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: red;
  // margin-top: 15px;
}

.blog-image{
  margin: 15px auto;
  width: 100%;
  // max-width: 400px;
}

#orange {
  color: $orange;
}

.img {
  margin: 0 auto;
  margin-top: 15px;
  width: 600px;
  height: 200px;
  background: $orange;
}

#blog-footer-buttons{
  width: 100%;
  margin: 0px 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-gap: 15px;
}

#blog-footer-section{
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer-blog{
  @include column;
  background: $cornflowerblue;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  h2{margin-bottom: 20px;color: white;}
  a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    margin: 0 auto;
    color: $cornflowerblue;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    width: 90%;
    max-width: 800px;
    height: 50px;
  }
}
