.cards{
  width: 100%;
}
@media(min-width: 780px){
  .cards{
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(375px, auto));
      grid-gap: 30px;
      grid-row-gap: 15px;
    justify-content: center;
  }
}

.card{
  width: 100%;
  background: $lightgray;
  text-align: left;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 8px;
}
.card-header{
  @include row(flex-start);
  align-items: center;
}
.circle{
  @include dim(40px, 40px);
  border-radius: 30px;
  border: 2px solid #de662d;
  background: #de662d;
  margin-right: 20px;
  background-size: cover;
}
#Udemy{
  background-image: url('https://squidslippers.s3-us-west-1.amazonaws.com/Logo_Udemy.png');
}
#DevMountain{
  background-image: url('https://squidslippers.s3-us-west-1.amazonaws.com/Logo_DevMtn3.png')
}
