.icon-grid{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 75px);
  grid-gap: 20px;
  width: 100%;
}
.icon-container{
  @include column;
}
.icon{
  z-index: 0;
  @include dim(75px, 75px);
  margin-bottom: 5px;
  border-radius: 80px;
  // filter: brightness(0) saturate(100%) invert(60%) sepia(64%) saturate(889%) hue-rotate(174deg) brightness(97%) contrast(90%);
  filter: brightness(0) saturate(100%) invert(23%) sepia(42%) saturate(1686%) hue-rotate(179deg) brightness(98%) contrast(88%);
  background-size: cover;
}
  #axios{background-image: url('https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_Axios.PNG');}
  #css{background-image: url('https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_CSS.PNG')}
  #express{background-image: url('https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_Express.PNG')}
  #html{background-image: url('https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_HTML.PNG')}
  #jsx{background-image: url('https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_JSX.PNG')}
  #javascript{background-image: url('https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_JavaScript.PNG')}
  #node{background-image: url('https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_Node.PNG')}
  #postgresql{background-image: url('https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_PostgreSQL.PNG')}
  #postman{background-image: url('https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_Postman.PNG')}
  #react{background-image: url('https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_React.PNG')}
  #redux{background-image: url('https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_Redux.PNG')}
  #sass{background-image: url('https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_Sass.PNG')}