.mini-header{
  @include dim(450px, 100vw);
  @include column;
  h1{
    font-family: 'Montserrat';
    color: white;
  }
  text-align: center;
  justify-content: center;
  padding: 0px 60px;
  background-image: linear-gradient($cornflowerblue, black);
  position: relative;
  overflow: hidden;
}

@media(max-width: 700px) {
  #mini-header2{
    h1{
      font-size: 20px;
      width: 200px;
    }
  }
}
