@mixin section {
  @include column;
  text-align: center;
  padding: 25px 15px;
  padding-bottom: 30px;
}

.section{
  @include section;
}

.black {
  background: black;
  p{
    color: white;
    font-size: 1.3rem;
  }
}

.gray-section{
  @include section;
  // background: #bfdaec;
  background: $lightgray;
}

.grid{
  // background: $darkgray;
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(425px, 425px));
  grid-gap: 25px;
  max-width: 1700px;
}

.icon-grid{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 75px);
  max-width: 600px;
  grid-gap: 20px;
  width: 100%;
}
.icon-grid__2{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 120px);
  max-width: 900px;
  grid-gap: 20px;
  width: 100%;
}
.icon-container{
  @include column;
}
@media(max-width: 500px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 100%));
    grid-gap: 30px;
    grid-row-gap: 15px;
  }
}
