.section{
  @include column;
  text-align: center;
  padding: 25px 15px;
}

  #white{
    background: white;
  }
  #lightgray{
    background: $lightgray;
  }
  .line{
    background: #de662d;
    margin: 20px;
    @include dim(5px, 120px);
  }
