$cornflowerblue: #005183;
$lightblue: #009eff;

$orange: #de662d;

$darkgray: #424242;
$gray: #808080;
$lightgray: #eee;
$ghostwhite: #f9fafa;

$pink: #dc64da;
$gray: #708090;
$blue: #0a458d;
$blue-gradient: linear-gradient(#0066da,#082444);

$yellow: #979700;
// 'Roboto'
// 'Lato'
// 'Montserrat'

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@mixin dim ($height, $width) {
  height: $height;
  width: $width;
}
@mixin row ($justify-content) {
  display: flex;
  justify-content: $justify-content;
}
@mixin column () {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  font-weight: bold;
  font-size: 25px;
  font-family: 'Montserrat';
}

span{color: $gray;}

a{
  text-decoration: none;
  &:hover{
    cursor: pointer
  }
}

@media(max-width: 1000px) {
  h1, h2, h3, h4, h5, span, p {
    // font-size: 1.2rem;
  }
}

// @import './about';
// @import './header';
// @import './miniHeader';
// @import './softwareEngineer';
// @import './sections';
// @import './skills';
// @import './card';
// @import './blog';
// @import './footer';

@import './NewPortfolio/category';
@import './NewPortfolio/example';
@import './NewPortfolio/global';
@import './NewPortfolio/header';
@import './NewPortfolio/home';
@import './NewPortfolio/software';