@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin-top: 15px;
  font-size: 18px;
  color: #424242;
}

header {
  font-weight: bold;
  font-size: 25px;
  font-family: 'Montserrat';
}

h1, h2, h3, h4, h5 {
  margin: 0px;
}

h1 {
  font-family: 'Lato';
}

h2 {
  font-size: 20px;
  color: #005183;
}

h4 {
  font-family: 'Roboto';
}

span {
  color: #808080;
}

#obligatory-div {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.cards {
  width: 100%;
}

@media (min-width: 780px) {
  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(375px, auto))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(375px, auto));
    grid-gap: 30px;
    grid-row-gap: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card {
  width: 100%;
  max-width: 700px;
  background: #f8f8f8;
  text-align: left;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 8px;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 30px;
  border: 3px solid #de662d;
  background: #de662d;
  margin-right: 20px;
  background-size: cover;
}

#blue {
  color: #005183;
}

#header {
  padding: 10px 15px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: #424242;
  color: white;
  -webkit-box-shadow: 0px 0px 15px 0px black;
          box-shadow: 0px 0px 15px 0px black;
}

.header-icon {
  height: 30px;
  width: 30px;
  background-size: contain;
}

#hamburger {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/Icon_HamburgerMenu.png");
}

.mini-header {
  height: 450px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 60px;
}

.mini-header h1 {
  font-family: 'Montserrat';
  color: white;
}

#blue-header {
  background: #005183;
}

#red-header {
  background: #a10000;
}

#footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #005183;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

#footer-main h1 {
  margin-bottom: 20px;
}

.footer-icon-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 50px);
  grid-gap: 20px;
  width: 95vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 25px 15px;
}

#white {
  background: white;
}

#lightgray {
  background: #f8f8f8;
}

.line {
  margin: 20px;
  height: 5px;
  width: 120px;
}

#orange-line {
  background: #de662d;
}

.icon-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (75px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 75px);
  grid-gap: 20px;
  width: 100%;
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  z-index: 0;
  height: 75px;
  width: 75px;
  margin-bottom: 5px;
  border-radius: 80px;
  -webkit-filter: brightness(0) saturate(100%) invert(23%) sepia(42%) saturate(1686%) hue-rotate(179deg) brightness(98%) contrast(88%);
          filter: brightness(0) saturate(100%) invert(23%) sepia(42%) saturate(1686%) hue-rotate(179deg) brightness(98%) contrast(88%);
  background-size: cover;
}

#axios {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_Axios.PNG");
}

#css {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_CSS.PNG");
}

#express {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_Express.PNG");
}

#html {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_HTML.PNG");
}

#jsx {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_JSX.PNG");
}

#javascript {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_JavaScript.PNG");
}

#node {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_Node.PNG");
}

#postgresql {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_PostgreSQL.PNG");
}

#postman {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_Postman.PNG");
}

#react {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_React.PNG");
}

#redux {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_Redux.PNG");
}

#sass {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_Sass.PNG");
}

.blog-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 15px;
}

.blog-content h1 {
  margin-top: 15px;
  color: #de662d;
}

.blog-content ul {
  color: #424242;
}

.blog-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  color: red;
}

.tldr {
  background: #f8f8f8;
  border: 2px solid gray;
  border-radius: 8px;
  padding: 15px;
  margin-top: 15px;
}

.blog-image {
  width: 100%;
}

#orange {
  color: #de662d;
}

.img {
  margin: 0 auto;
  margin-top: 15px;
  width: 600px;
  height: 200px;
  background: #de662d;
}
/*# sourceMappingURL=style.css.map */