@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Lato';
}

header {
  font-weight: bold;
  font-size: 25px;
  font-family: 'Montserrat';
}

h1, h2, h3, h4, h5 {
  margin: 0px;
}

h1 {
  font-family: 'Lato';
}

h2 {
  font-size: 20px;
  color: #4bafec;
}

h4 {
  font-family: 'Roboto';
}

span {
  color: #afafaf;
}

.cards {
  width: 100%;
}

@media (min-width: 780px) {
  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(375px, auto))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(375px, auto));
    grid-gap: 20px;
    grid-row-gap: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card {
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
  padding: 15px;
  -webkit-box-shadow: 0px 3px 7px 0px #d4d4d4;
          box-shadow: 0px 3px 7px 0px #d4d4d4;
  border-radius: 5px;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 30px;
  border: 2px solid #f2a539;
  background: #f2a539;
  margin-right: 10px;
  background-size: cover;
}

#Udemy {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/Logo_Udemy.png");
}

#DevMountain {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/Logo_DevMtn3.png");
}

#header {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 10px 15px;
  background: #f2a539;
  color: white;
  -webkit-box-shadow: 0px 0px 15px 0px black;
          box-shadow: 0px 0px 15px 0px black;
}

.header-icon {
  height: 30px;
  width: 30px;
  background-size: contain;
}

#hamburger {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/Icon_HamburgerMenu.png");
}

#mini-header {
  height: 450px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 60px;
  background: #4bafec;
}

#mini-header h1 {
  font-family: 'Montserrat';
  color: white;
}

.footer-icon {
  height: 50px;
  width: 50px;
  border-radius: 130px;
  background-size: cover;
}

#email {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/Connect_Email.PNG");
}

#phone {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/Connect_Phone.PNG");
}

#resume {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/Connect_Resume.PNG");
}

#github {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/Connect_GitHub.PNG");
}

#twitter {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/Connect_Twitter.PNG");
}

#instagram {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/Connect_Instagram.png");
}

#linkedin {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/Connect_LinkedIn.PNG");
}

#footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #4bafec;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
}

#footer-main h1 {
  margin-bottom: 15px;
}

.footer-icon-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 50px);
  grid-gap: 20px;
  width: 95vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.white-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 25px 15px;
}

#gray {
  background: #f9fafa;
}

.line {
  background: #f2a539;
  margin: 20px;
  height: 5px;
  width: 120px;
}

.icon-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (75px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 75px);
  grid-gap: 20px;
  width: 100%;
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  z-index: 0;
  height: 75px;
  width: 75px;
  margin-bottom: 5px;
  border-radius: 80px;
  -webkit-filter: brightness(0) saturate(100%) invert(60%) sepia(64%) saturate(889%) hue-rotate(174deg) brightness(97%) contrast(90%);
          filter: brightness(0) saturate(100%) invert(60%) sepia(64%) saturate(889%) hue-rotate(174deg) brightness(97%) contrast(90%);
  background-size: cover;
}

#axios {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_Axios.PNG");
}

#css {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_CSS.PNG");
}

#express {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_Express.PNG");
}

#html {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_HTML.PNG");
}

#jsx {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_JSX.PNG");
}

#javascript {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_JavaScript.PNG");
}

#node {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_Node.PNG");
}

#postgresql {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_PostgreSQL.PNG");
}

#postman {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_Postman.PNG");
}

#react {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_React.PNG");
}

#redux {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_Redux.PNG");
}

#sass {
  background-image: url("https://squidslippers.s3-us-west-1.amazonaws.com/LangTech_Sass.PNG");
}
/*# sourceMappingURL=style.css.map */