$cornflowerblue: #005183;

$orange: #de662d;

$darkgray: #424242;
$gray: #808080;
$lightgray: #eee;
$ghostwhite: #f9fafa;

// 'Roboto'
// 'Lato'
// 'Montserrat'
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@mixin dim ($height, $width) {
  height: $height;
  width: $width;
}
@mixin row ($justify-content) {
  display: flex;
  justify-content: $justify-content;
}
@mixin column () {
  display: flex;
  flex-direction: column;
  align-items: center;
}
* {
  box-sizing: border-box;
}
p {
  margin-top: 15px;
  font-size: 18px;
  color: $darkgray;
}
header{
  font-weight: bold;
  font-size: 25px;
  font-family: 'Montserrat';
}
h1, h2, h3, h4, h5{
  margin: 0px;
}
h1 {font-family: 'Lato';}
// h2 {font-size: 20px; color: $cornflowerblue;}
h2{
  color: black;
  font-size: 30px;
  margin-bottom: 25px
}

h4{font-family: 'Roboto';}
span{color: $gray;}

#obligatory-div{
  min-height: 100vh;
}
a{
  text-decoration: none;
  &:hover{
    cursor: pointer
  }
}

@import '../Components/V2/Header/header';
@import '../Components/V2/MiniHeader/miniHeader';
@import '../Components/V2/SoftwareEngineer/softwareEngineer';
@import '../Components/V2/SoftwareEngineer/sections';
@import '../Components/V2/SoftwareEngineer/skills';
@import '../Components/V2/Card/card';
@import '../Components/V2/Blog/blog';
@import '../Components/V2/Footer/footer';
