@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-weight: bold;
  font-size: 25px;
  font-family: 'Montserrat';
}

span {
  color: #708090;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.category {
  padding: 8px 0px;
}

.category_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.example {
  max-width: 1000px;
  padding: 24px 16px;
  border-radius: 12px;
  margin: 24px 16px;
  background: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.example_container {
  width: 100%;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.example_header {
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.example_info {
  border-radius: 12px;
  padding: 24px;
  width: 450px;
  margin: 0 8px;
  background: white;
}

.example_info h3 {
  color: #0a458d;
  margin-bottom: 24px;
}

.example_link {
  width: 150px;
  height: 40px;
  padding: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0066da), to(#082444));
  background: linear-gradient(#0066da, #082444);
  border-radius: 8px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  display: inline-block;
}

.example_placeholder {
  width: 150px;
}

.example_title {
  color: #0a458d;
}

@media (max-width: 1000px) {
  .example_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 0;
  }
  .example_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .example_header h2 {
    margin-bottom: 12px;
  }
  .example_info {
    margin-top: 24px;
    width: 500px;
  }
  .example_placeholder {
    display: none;
  }
}

@media (max-width: 600px) {
  .example_container {
    width: 90vw;
  }
  .example_info {
    width: 95%;
  }
}

.list-item {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.list-item_caret {
  height: 8px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.active_caret {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.list-item_details {
  margin-left: 60px;
  padding: 8px;
  background: #f1f1f1;
  border-radius: 8px;
  text-align: left;
}

.list-item_image {
  max-height: 30px;
  max-width: 30px;
}

.list-item_image_background {
  height: 45px;
  width: 45px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0066da), to(#082444));
  background: linear-gradient(#0066da, #082444);
  border-radius: 100%;
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-item_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: margin-left .2s;
  transition: margin-left .2s;
}

.list-item_main:hover {
  cursor: pointer;
  margin-left: 8px;
}

.list-item_main_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.square {
  height: 275px;
  width: 275px;
  -webkit-box-shadow: 0px 2px 4px 1px #dbdbdb;
          box-shadow: 0px 2px 4px 1px #dbdbdb;
  border-radius: 12px;
  padding: 24px;
  font-size: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.square_active {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.square_active:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.square_coming_soon {
  width: 320px;
  position: absolute;
  -webkit-transform: rotate(-13deg);
          transform: rotate(-13deg);
}

.square_inactive {
  cursor: initial;
}

.square_image {
  height: 100px;
}

.square_image_background {
  height: 150px;
  width: 150px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0066da), to(#082444));
  background: linear-gradient(#0066da, #082444);
  border-radius: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  width: 100vw;
  padding: 8px 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0066da), to(#082444));
  background: linear-gradient(#0066da, #082444);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo {
  height: 30px;
  width: 30px;
}

.header_logo_placeholder {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: white;
}

.home {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_navigation {
  margin-top: 100px;
  width: 100%;
  max-width: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (275px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 275px);
  grid-gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.software-engineering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */