@mixin card-div{
  width: 100%;
  color: $cornflowerblue;
  border-radius: 10px;
  padding: 15px;
}
.gray-card-div{
  @include card-div;
  background: #eee;
}
.white-card-div{
  @include card-div;
  background: white;
}
.card-header{
  display: flex;
}
.card-icon{
  @include dim(45px, 45px);
  border-radius: 30px;
  margin-right: 15px;
}
.card-main-info{
  text-align: left;
  display: flex;
  flex-direction: column;
  p{
    margin: 5px 0px;
    font-size: 16px;
    color: $gray;
  }
  span{
    font-size: 16px;
  }
}
.card-buttons{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@mixin card-button{
  width: 100%;
  height: 30px;
  border-radius: 20px;
  color: $cornflowerblue;
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
    border: 2px solid $cornflowerblue;
  }
  a{
    color: $cornflowerblue;
  }
}
.white-card-button{
  @include card-button;
  background: white;
}
.gray-card-button{
  @include card-button;
  background: #eee;
}

@media(max-width: 500px) {
  h3{
    font-size: 18px;
  };
  .card-main-info{
    p{
      font-size: 15px;
    }
  }
  .white-card-button{
    font-size: 15px;
  }
  .gray-card-button{
    font-size: 15px;
  }
}
