@mixin card-div{
  width: 100%;
  color: $cornflowerblue;
  border-radius: 10px;
  padding: 15px;
  /*
  &:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 5px 15px -5px rgb(92, 92, 92);
  }
  */
}
.gray-card-div{
  @include card-div;
  background: #eee;
}
.white-card-div{
  @include card-div;
  background: white;
}
.card-header{
  display: flex;
}
.card-icon{
  @include dim(45px, 45px);
  border-radius: 30px;
  background: $gray;
  margin-right: 15px;
  border: 3px solid $orange;
  background: $orange;
}
.card-main-info{
  text-align: left;
  display: flex;
  flex-direction: column;
  p{
    margin: 5px 0px;
    font-size: 16px;
    color: $gray;
  }
  span{
    font-size: 16px;
  }
}
.card-buttons{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@mixin card-button{
  width: 48%;
  height: 30px;
  border-radius: 20px;
  color: $cornflowerblue;
  font-weight: bold;
  border: none;
  &:hover {
    cursor: pointer;
    border: 2px solid $cornflowerblue;
  }
}
.white-card-button{
  @include card-button;
  background: white;
}
.gray-card-button{
  @include card-button;
  background: #eee;
}
