.category {
// box
  padding: 8px 0px;
// content
  
// display
  
// position
  
}

.category_buttons {
// box
  
// content
  
// display
  display: flex;
// position
  
}

.category_main {
// box
  
// content
  
// display
  display: flex;
  justify-content: space-between;
// position
  
}